html {background-color: #28d556;}
h1 {text-align: center; font-family: sans-serif;}
.text {margin-left: 30px;}
.intro {text-align: center;}
img {width: 50px; height: 50px;}
span {font-weight: bold; display: flex; font-style: italic}
